body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}
.banner {
    width: 70%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 500px;
}
.server-info {
    margin: 20px;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #ff4500;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s;
}
.btn:hover {
    background-color: #e63900;
}
footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #222;
}
.lp { color: #cccc00; }
.fk { color: #888888; }
.ro { color: #ff0000; }
.am { color: #ff9900; }
.ml { color: #ffcc00; }
.ys { color: #9900ff; }
.year { color: #cccccc; }
.profile {
    width: 200px;
    height: 200px;
    border-radius: 500px;
    object-fit: cover;
    float: left;
    margin-right: 20px;
  }
