body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    text-align: center;
}
.banner {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 500px;
    padding: 5px;
    background-color: #ffb10a;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s;
    box-shadow: 20px 0 50px #cc00ff, -20px 0 50px #ff7b00;
}
.server-info {
    margin: 20px;
}
.btn {
    padding: 0.3em 0.6em; /* Reduced padding */
    font-size: 0.8em; /* Reduced font size */
    background-color: #ff3300;
    border: none;
    color: white;
    max-width: 150px;
    width: auto;
    border-radius: 1000px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto; /* Adjust flex properties to make the button more compact */
    margin: 0 auto; /* Center the button */
    text-align: center; /* Center the text in the button */
    text-transform: uppercase; /* Uppercase text */
    font-weight: bold; /* Bold text */
    text-decoration: none; /* Remove underline */
    cursor: pointer; /* Change cursor to pointer */
    transition: background-color 0.3s, box-shadow 0.3s; /* Add transition effect */
    box-shadow: 20px 0 50px #cc00ff, -20px 0 50px #ff7b00; /* Add box shadow */
    z-index: 1; /* Set z-index to 1 */
    overflow: hidden; /* Hide overflow content */
    position: relative; /* Set position to relative */
    display: inline-block; /* Display as inline-block */
    text-align: center; /* Center text */
    white-space: nowrap; /* Prevent text wrapping */
    border: none; /* Remove border */
    outline: none; /* Remove outline */
    cursor: pointer; /* Change cursor to pointer */
    font-weight: bold; /* Set font weight to bold */
    text-transform: uppercase; /* Uppercase text */
}
.btn::after {
    content: '';
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 1000px;
    background: linear-gradient(to bottom right, #ff0055, #ffad06);
    z-index: -1;
}
.btn:hover {
    z-index: 0;
    box-shadow: 40px 0 100px #cc00ff, -40px 0 100px #ff7b00;
}
footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #222;
}
.lp { color: #cccc00; }
.fk { color: #888888; }
.ro { color: #ff0000; }
.am { color: #ff9900; }
.ml { color: #ffcc00; }
.ys { color: #9900ff; }
.year { color: #cccccc; }
.profile {
    width: 150px;
    height: 150px;
    border-radius: 500px;
    padding: 5px;
    background-color: #0e5d81;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}
.username {
    font-size: 20px;
    font-weight: bold;
}

/* Media query for mobile devices */
@media only screen and (max-width: 1024px) {
    body {
        font-size: 20px;
    }
    .banner {
        max-height: 200px;
        border-radius: 500px;
    }
    .btn {
        padding: 10px 20px;
        margin: 5px;
    }
    .profile {
        width: 150px;
        height: 150px;
    }
    .username {
        font-size: 20px;
    }
}

/* Media query for tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 18px;
    }
    .banner {
        max-height: 180px;
        border-radius: 400px;
    }
    .btn {
        padding: 9px 18px;
        margin: 5px;
    }
    .profile {
        width: 120px;
        height: 120px;
    }
    .username {
        font-size: 19px;
    }
}

/* Media query for desktops */
@media only screen and (min-width: 1025px) {
    body {
        font-size: 20px;
    }
    .banner {
        max-height: 200px;
        border-radius: 500px;
    }
    .btn {
        padding: 10px 20px;
        margin: 5px;
    }
    .profile {
        width: 150px;
        height: 150px;
    }
    .username {
        font-size: 20px;
    }
}